# Caddyfile

{
        # setup your email address
 	#email mail@example.com
}

# INSERT THE DOMAIN NAME HERE
5iemen5.mooo.com {
        # since the container will share the network with wg-easy
        # we can use the proper container name
        reverse_proxy wg-easy:80
        #tls internal
}
